In [1]:
import pandas as pd
import numpy as np

Tdulces = pd.read_excel("C:\\Users\\Nobody\\Documents\\Python Scripts\\File.xlsx")
filename = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df = pd.read_csv(filename, names = headers)

In [2]:
Tdulces

,Producto,Marca,Costo del paquete,Unidades por paquete,Sabor
0,Mazapan,De la rosa,20.0,5,Dulce
1,Paleta de cereza,De la rosa,30.0,80,Dulce
2,Bocadines,Ricolino,50.0,50,Dulce
3,Gelatinitas,Kellog's,40.0,100,Dulce
4,Pulparindo,De la rosa,22.0,20,Enchiloso
5,Skwinkles,Lucas,NaN,60,Enchiloso
6,Pelón pelo rico,Lucas,36.0,6,Enchiloso
7,Lucas muecas,Lucas,35.0,6,Enchiloso
8,Paletas de caramelo duro,Sonrix,15.0,40,Dulce
9,Chicle,De la rosa,25.0,100,Dulce
10,Velita,Sonrix,15.0,100,Dulce
11,Bubulubu,Ricolino,45.0,25,Dulce
12,Gomita malvabon,Ricolino,30.0,50,Dulce
13,Cacahuate japonés 450g,De la rosa,33.0,12,Enchiloso
14,Dragoncitos,Sonrix,15.0,100,Dulce
15,Paleta de mango,Vero,50.0,50,Enchiloso

In [4]:
Precios = Tdulces[['Costo del paquete']]

In [14]:
Estratos = np.linspace(min(Tdulces["Costo del paquete"]),max(Tdulces["Costo del paquete"]),4)

In [15]:
Cabeceras = ["Bajo","Medio","Alto"]

In [17]:
Tdulces['Precios Estratificados'] = pd.cut(Tdulces["Costo del paquete"] ,Estratos,labels=Cabeceras, include_lowest = True )
Tdulces

,Producto,Marca,Costo del paquete,Unidades por paquete,Sabor,Precios Estratificados
0,Mazapan,De la rosa,20.0,5,Dulce,Bajo
1,Paleta de cereza,De la rosa,30.0,80,Dulce,Medio
2,Bocadines,Ricolino,50.0,50,Dulce,Alto
3,Gelatinitas,Kellog's,40.0,100,Dulce,Alto
4,Pulparindo,De la rosa,22.0,20,Enchiloso,Bajo
5,Skwinkles,Lucas,NaN,60,Enchiloso,NaN
6,Pelón pelo rico,Lucas,36.0,6,Enchiloso,Medio
7,Lucas muecas,Lucas,35.0,6,Enchiloso,Medio
8,Paletas de caramelo duro,Sonrix,15.0,40,Dulce,Bajo
9,Chicle,De la rosa,25.0,100,Dulce,Bajo
10,Velita,Sonrix,15.0,100,Dulce,Bajo
11,Bubulubu,Ricolino,45.0,25,Dulce,Alto
12,Gomita malvabon,Ricolino,30.0,50,Dulce,Medio
13,Cacahuate japonés 450g,De la rosa,33.0,12,Enchiloso,Medio
14,Dragoncitos,Sonrix,15.0,100,Dulce,Bajo
15,Paleta de mango,Vero,50.0,50,Enchiloso,Alto

In [23]:
print(Tdulces.iloc[1:,2],len(Tdulces.iloc[:,0]))

1     30.0
2     50.0
3     40.0
4     22.0
5      NaN
6     36.0
7     35.0
8     15.0
9     25.0
10    15.0
11    45.0
12    30.0
13    33.0
14    15.0
15    50.0
Name: Costo del paquete, dtype: float64 16

In [15]:
Corregido = Tdulces.dropna(axis = 0)
print(Corregido)
print(type(Tdulces.loc[:,["Marca"]]))
print(type(Tdulces.loc[:,"Marca"]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [9]:
Tdulces["Costo del paquete"].replace(np.nan, Tdulces["Costo del paquete"].mean(),inplace=True)
print(Tdulces["Costo del paquete"].mean())

83.4

In [10]:
Tdulces

,Producto,Marca,Costo del paquete,Unidades por paquete,Sabor
0,Mazapan,De la rosa,20.0,5,Dulce
1,Paleta de cereza,De la rosa,30.0,80,Dulce
2,Pulparindo,De la rosa,35.0,35,Enchiloso
3,KornFalkes,Kellog's,40.0,1,Dulce
4,Steel Baton,SPLM,800.0,1,Enchiloso
5,Skwinkles,Lucas,83.4,60,Enchiloso
6,Pelón pelo rico,Lucas,36.0,6,Enchiloso
7,Lucas muecas,Lucas,35.0,6,Enchiloso
8,Paletas de caramelo duro,Sonrix,15.0,40,Dulce
9,Chicle,De la rosa,25.0,100,Dulce
10,Velita,Sonrix,15.0,100,Dulce
11,Bubulubu,Ricolino,45.0,25,Dulce
12,Gomita malvabon,Ricolino,30.0,50,Dulce
13,Cacahuate japonés 450g,De la rosa,60.0,25,Enchiloso
14,Dragoncitos,Sonrix,15.0,100,Dulce
15,Paleta de mango,Vero,50.0,50,Enchiloso

In [11]:
pd.get_dummies(Tdulces["Sabor"])

    Dulce  Enchiloso
0       1          0
1       1          0
2       0          1
3       1          0
4       0          1
5       0          1
6       0          1
7       0          1
8       1          0
9       1          0
10      1          0
11      1          0
12      1          0
13      0          1
14      1          0
15      0          1

In [12]:
Tdulces["Sabor"] = pd.get_dummies(Tdulces["Sabor"])
Tdulces

,Producto,Marca,Costo del paquete,Unidades por paquete,Sabor
0,Mazapan,De la rosa,20.0,5,1
1,Paleta de cereza,De la rosa,30.0,80,1
2,Pulparindo,De la rosa,35.0,35,0
3,KornFalkes,Kellog's,40.0,1,1
4,Steel Baton,SPLM,800.0,1,0
5,Skwinkles,Lucas,83.4,60,0
6,Pelón pelo rico,Lucas,36.0,6,0
7,Lucas muecas,Lucas,35.0,6,0
8,Paletas de caramelo duro,Sonrix,15.0,40,1
9,Chicle,De la rosa,25.0,100,1
10,Velita,Sonrix,15.0,100,1
11,Bubulubu,Ricolino,45.0,25,1
12,Gomita malvabon,Ricolino,30.0,50,1
13,Cacahuate japonés 450g,De la rosa,60.0,25,0
14,Dragoncitos,Sonrix,15.0,100,1
15,Paleta de mango,Vero,50.0,50,0