In [1]:
import pandas as pd
import numpy as np

Tdulces = pd.read_excel("C:\\Users\\Nobody\\Documents\\Python Scripts\\File.xlsx")

In [2]:
Precios = Tdulces[['Costo del paquete']]

In [3]:
Estratos = np.linspace(Precios.min(),Precios.max(),4)

In [4]:
Cabeceras = ["Bajo","Medio","Alto"]

In [5]:
Tdulces['Precios Estratificados'] = pd.cut(Tdulces ["Costo del paquete"] ,Estratos, right = False, labels=Cabeceras)

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [6]:
#this is a weird error

In [7]:
print(Tdulces)

                    Producto       Marca  Costo del paquete  \
0                    Mazapan  De la rosa               20.0
1           Paleta de cereza  De la rosa               30.0
2                 Pulparindo  De la rosa               35.0
3                 KornFalkes    Kellog's               40.0
4                Steel Baton        SPLM              800.0
5                  Skwinkles       Lucas                NaN
6            Pelón pelo rico       Lucas               36.0
7               Lucas muecas       Lucas               35.0
8   Paletas de caramelo duro      Sonrix               15.0
9                     Chicle  De la rosa               25.0
10                    Velita      Sonrix               15.0
11                  Bubulubu    Ricolino               45.0
12           Gomita malvabon    Ricolino               30.0
13    Cacahuate japonés 450g  De la rosa               60.0
14               Dragoncitos      Sonrix               15.0
15           Paleta de mango        Vero               50.0

    Unidades por paquete      Sabor
0                      5      Dulce
1                     80      Dulce
2                     35  Enchiloso
3                      1      Dulce
4                      1  Enchiloso
5                     60  Enchiloso
6                      6  Enchiloso
7                      6  Enchiloso
8                     40      Dulce
9                    100      Dulce
10                   100      Dulce
11                    25      Dulce
12                    50      Dulce
13                    25  Enchiloso
14                   100      Dulce
15                    50  Enchiloso

In [8]:
Corregido = Tdulces.dropna(axis = 0)
print(Corregido)

                    Producto       Marca  Costo del paquete  \
0                    Mazapan  De la rosa               20.0
1           Paleta de cereza  De la rosa               30.0
2                 Pulparindo  De la rosa               35.0
3                 KornFalkes    Kellog's               40.0
4                Steel Baton        SPLM              800.0
6            Pelón pelo rico       Lucas               36.0
7               Lucas muecas       Lucas               35.0
8   Paletas de caramelo duro      Sonrix               15.0
9                     Chicle  De la rosa               25.0
10                    Velita      Sonrix               15.0
11                  Bubulubu    Ricolino               45.0
12           Gomita malvabon    Ricolino               30.0
13    Cacahuate japonés 450g  De la rosa               60.0
14               Dragoncitos      Sonrix               15.0
15           Paleta de mango        Vero               50.0

    Unidades por paquete      Sabor
0                      5      Dulce
1                     80      Dulce
2                     35  Enchiloso
3                      1      Dulce
4                      1  Enchiloso
6                      6  Enchiloso
7                      6  Enchiloso
8                     40      Dulce
9                    100      Dulce
10                   100      Dulce
11                    25      Dulce
12                    50      Dulce
13                    25  Enchiloso
14                   100      Dulce
15                    50  Enchiloso

In [9]:
Tdulces["Costo del paquete"].replace(np.nan, Tdulces["Costo del paquete"].mean(),inplace=True)
print(Tdulces["Costo del paquete"].mean())

83.4

In [10]:
Tdulces

,Producto,Marca,Costo del paquete,Unidades por paquete,Sabor
0,Mazapan,De la rosa,20.0,5,Dulce
1,Paleta de cereza,De la rosa,30.0,80,Dulce
2,Pulparindo,De la rosa,35.0,35,Enchiloso
3,KornFalkes,Kellog's,40.0,1,Dulce
4,Steel Baton,SPLM,800.0,1,Enchiloso
5,Skwinkles,Lucas,83.4,60,Enchiloso
6,Pelón pelo rico,Lucas,36.0,6,Enchiloso
7,Lucas muecas,Lucas,35.0,6,Enchiloso
8,Paletas de caramelo duro,Sonrix,15.0,40,Dulce
9,Chicle,De la rosa,25.0,100,Dulce
10,Velita,Sonrix,15.0,100,Dulce
11,Bubulubu,Ricolino,45.0,25,Dulce
12,Gomita malvabon,Ricolino,30.0,50,Dulce
13,Cacahuate japonés 450g,De la rosa,60.0,25,Enchiloso
14,Dragoncitos,Sonrix,15.0,100,Dulce
15,Paleta de mango,Vero,50.0,50,Enchiloso

In [11]:
pd.get_dummies(Tdulces["Sabor"])

    Dulce  Enchiloso
0       1          0
1       1          0
2       0          1
3       1          0
4       0          1
5       0          1
6       0          1
7       0          1
8       1          0
9       1          0
10      1          0
11      1          0
12      1          0
13      0          1
14      1          0
15      0          1

In [12]:
Tdulces["Sabor"] = pd.get_dummies(Tdulces["Sabor"])
Tdulces

,Producto,Marca,Costo del paquete,Unidades por paquete,Sabor
0,Mazapan,De la rosa,20.0,5,1
1,Paleta de cereza,De la rosa,30.0,80,1
2,Pulparindo,De la rosa,35.0,35,0
3,KornFalkes,Kellog's,40.0,1,1
4,Steel Baton,SPLM,800.0,1,0
5,Skwinkles,Lucas,83.4,60,0
6,Pelón pelo rico,Lucas,36.0,6,0
7,Lucas muecas,Lucas,35.0,6,0
8,Paletas de caramelo duro,Sonrix,15.0,40,1
9,Chicle,De la rosa,25.0,100,1
10,Velita,Sonrix,15.0,100,1
11,Bubulubu,Ricolino,45.0,25,1
12,Gomita malvabon,Ricolino,30.0,50,1
13,Cacahuate japonés 450g,De la rosa,60.0,25,0
14,Dragoncitos,Sonrix,15.0,100,1
15,Paleta de mango,Vero,50.0,50,0